@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background: #43a047;
}

.container {
	width: 450px;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
}

.container h2 {
	padding: 1rem 1.75rem;
	border-bottom: 1px solid #d4dbe5;
	font-size: 1.31rem;
	font-weight: 600;
}

.wrapper {
	margin: 1.25rem 1.75rem;
}

.input-box {
	position: relative;
}

.input-box input {
	width: 100%;
	height: 53px;
	padding: 0 2.85rem 0 1rem;
	border: 1px solid #aaa;
	border-radius: 4px;
	background: none;
	color: #000;
	font-size: 1.06rem;
	font-weight: 500;
	letter-spacing: 1.4px;
}

.input-box span {
	position: absolute;
	right: 13px;
	color: #707070;
	line-height: 53px;
	cursor: pointer;
}

.input-box span:hover {
	color: #43a047 !important;
}

.pass-indicator {
	position: relative;
	width: 100%;
	height: 4px;
	margin-top: 0.75rem;
	border-radius: 25px;
}

.pass-indicator::before {
	position: absolute;
	content: '';
	width: 50%;
	height: 100%;
	border-radius: inherit;
	transition: width 0.3s ease;
}

.pass-indicator#weak::before {
	width: 20%;
	background-color: #e64a4a;
}
.pass-indicator#medium::before {
	width: 50%;
	background-color: #f1c80b;
}
.pass-indicator#strong::before {
	width: 100%;
	background-color: #43a047;
}

.pass-length {
	margin: 1.56rem 0 1.25rem;
}

.pass-length details {
	display: flex;
	justify-content: space-between;
}

.pass-length input {
	width: 100%;
	height: 5px;
}

.pass-length input {
	width: 100%;
	height: 5px;
}

.pass-settings .options {
	display: flex;
	flex-wrap: wrap;
	margin-top: 1rem;
	list-style: none;
}

.pass-settings .options .option {
	width: calc(100% / 2);
	margin-bottom: 1rem;
	display: flex;
	align-items: center;
}

.pass-settings .options .option:first-child {
	pointer-events: none;
}

.pass-settings .options .option:first-child input {
	opacity: 0.7;
}

.pass-settings .options .option input {
	width: 16px;
	height: 16px;
	cursor: pointer;
}

.pass-settings .options .option label {
	padding-left: 0.63rem;
	color: #4f4f4f;
	cursor: pointer;
}

.generate-btn {
	width: 100%;
	padding: 0.94rem 0;
	margin: 0.94rem 0 1.3rem;
	border: none;
	border-radius: 5px;
	outline: none;
	background-color: #43a047;
	color: #fff;
	font-size: 1.06rem;
	text-transform: uppercase;
	cursor: pointer;
}
